.app-container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .data-viewer-container {
    width: 48vw;
    height: calc(100vh - 360px);
    background-color: #480a5f;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-left: -305px;
    margin-top: 230px;
    position: relative;
  }
  
  .viewer-content {
    height: 100%;
    background-color: #3d0057;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .control-panel {
    position: absolute;
    top: -40px;
    left: 0;
    width: 50%;
    height: 35px;
    background-color: #ffa60000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
  }
  
  .control-panel button {
    padding: 5px 10px;
    background-color: #a57909;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .control-panel label {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
  }
  
  .control-panel input[type="range"] {
    width: 100px;
  }